body {
    padding:0px;
    margin:0px;
    overflow:hidden;
    position:relative;
}

#info {
    position:absolute;
    bottom:10px;
    right:10px;
    width:fit-content;
    color:#ffffff;
}

#info span {
    color:#ffffff;
}

canvas {
    width: 100vw !important;
    height: 100vh !important;
}

/*=====================*/
/*=== Control panel ===*/
/*=====================*/
.lil-gui.root {
    width:320px;
}

.lil-gui .controller {
    min-height:32px;
    padding-top:3px;
    padding-bottom:3px;
}

.lil-gui .controller > .name {
    line-height:1.45em;
}
/*=====================*/